:root {
  --custom-color-eerieBlack: #161E1F;
  --custom-color-chamoisee: #A67961;
  --custom-color-tiffanyBlue: #8CD0C7;
  --custom-color-differentBlack: #1E1F1D;
  --custom-color-roseEbony: #5B3F38;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: var(--custom-color-eerieBlack);
}

body {
  background-color: var(--custom-color-eerieBlack);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
